In [1]:
#Ceci est un commentaire
print("Bonjour")

Bonjour

In [9]:
#une variable
message = "le monde!"
print(message)

le monde!

In [6]:
#concatenation de chaine de caractères
message = "le monde!"
print("Bonjour" + message)

Bonjourle monde!

In [5]:
#concatenation de chaine de caractères
message1 = "Bonjour "
message2 = "le monde!"
print(message1 + message2)

Bonjour le monde!

In [7]:
a = 10
b = 20
c = a + b
print(c)

30

In [8]:
#type de données
message1 = "Bonjour"
a = 12
print(type(message1))
print(type(a))

<class 'str'>
<class 'int'>

In [13]:
#concatenation de deux différents types de données
message1 = "Bonjour en Python"
a = 3
print(message1 + a)

TypeError: must be str, not int

In [14]:
#concatenation de deux différents types de données
message1 = "Bonjour en Python "
a = 3
print(message1 + str(a))

Bonjour en Python 3

In [15]:
#tableau
a = [10, 20, 30, 40, 50]
print(a)

[10, 20, 30, 40, 50]

In [16]:
#tableau
a = [10, 20, 30, 40, 50]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

10
20
30
40
50

In [22]:
#tableau
a = [10, 20, 30, 40, 50]
print(a[8])

IndexError: list index out of range

In [21]:
message1 = "Bonjour en Python "
print(message1[0])
print(message1[1])
print(message1[2])
print(message1[3])
print(message1[4])
print(message1[5])
print(message1[6])
print(message1[7])

B
o
n
j
o
u
r

In [1]:
message1 = "Bonjour en Python "
print(len(message1))

18

In [2]:
#tableau
a = [10, 20, 30, 40, 50]
print(len(a))

5

In [3]:
#nombres flottantes
pi = 3.14
print(pi)

3.14

In [ ]:
#nombres flottantes
pi = 3.14
print(type(pi))

In [31]:
a = [10, 20, 30, 40, 50]
print(len(a))

5

In [26]:
a = [10, 20, 30, 40, 50]
a.append(60)
print(a)

[10, 20, 30, 40, 50, 60]

In [12]:
a = [10, 20, 30, 40, 50]
a[0] = 0
print(a)

[0, 20, 30, 40, 50]

In [13]:
a = [10, 20, 30, 40, 50]
a[6] = 20
print(a)

IndexError: list assignment index out of range

In [33]:
a = [10, 20, 30, 40, 50]
a.insert(0, 0)
print(a)
print(len(a))

[0, 10, 20, 30, 40, 50]
6

In [15]:
a = [10, 20, 30, 40, 50]
a.insert(6,60)
print(a)
print(len(a))

[10, 20, 30, 40, 50, 60]
6

In [35]:
#tuple
a = (10, 20, 30, 40, 50)
print(a)

(10, 20, 30, 40, 50)

In [37]:
#tuple
a = (10, 20, 30, 40, 50)
print(a[0])

10

In [38]:
#tuple
a = (10, 20, 30, 40, 50)
a[0] = 0
print(a)

TypeError: 'tuple' object does not support item assignment

In [10]:
#tuple
a = (10, 20, 30, 40, 50)
a.insert(60)
print(a)

AttributeError: 'tuple' object has no attribute 'insert'

In [4]:
#set
a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
print(a)

{40, 10, 50, 20, 30}

In [7]:
a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
a.add(10)
print(a)

{40, 10, 50, 20, 30}

In [8]:
a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
a.add(60)
print(a)

{40, 10, 50, 20, 60, 30}

In [11]:
a = {40, 10, 50, 20, 30}
a.remove(40)
print(a)

{10, 50, 20, 30}

In [16]:
a = {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}
print(a)
print(type(a))

b = (10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
print(b)
print(type(b))

c= [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
print(c)
print(type(c))

{40, 10, 50, 20, 30}
<class 'set'>
(10, 20, 30, 40, 50, 10, 20, 30, 40, 50)
<class 'tuple'>
[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
<class 'list'>

In [19]:
for i in [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]:
    print(i)

10
20
30
40
50
10
20
30
40
50

In [20]:
for i in (10, 20, 30, 40, 50, 10, 20, 30, 40, 50):
    print(i)

10
20
30
40
50
10
20
30
40
50

In [22]:
for i in {10, 20, 30, 40, 50, 10, 20, 30, 40, 50}:
    print(i)

40
10
50
20
30

In [24]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
for i in range(0,10,2):
    print(i, end=' ')

0 2 4 6 8

In [26]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [27]:
for i in range(10,0):
    print(i)

In [34]:
for i in range(0,9):
    for j in range(1,i+1):
        print(j, end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678

In [35]:
for i in "Bonjour le monde!":
    print(i)

B
o
n
j
o
u
r

l
e

m
o
n
d
e
!

In [37]:
for i in "Bonjour le monde!".split():
    print(i)

Bonjour
le
monde!

In [38]:
for i in "Bonjour,le,monde!".split():
    print(i)

Bonjour,le,monde!

In [39]:
for i in "Bonjour,le,monde!".split(","):
    print(i)

Bonjour
le
monde!

In [53]:
num = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
num = sorted(num)
print(num)

[10, 10, 20, 20, 30, 30, 40, 40, 50, 50]

In [47]:
num = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
num.sort(reverse=True)
print(num)

[50, 50, 40, 40, 30, 30, 20, 20, 10, 10]

In [49]:
num = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
print(min(num))

10

In [50]:
num = [10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
print(max(num))

50

In [62]:
num = [70, 20, 30, 10, 50, 60, 20, 80, 70, 50]
num = sorted(num,reverse=True)[:5]
print(num)

[80, 70, 70, 60, 50]

In [63]:
num = set([70, 20, 30, 10, 50, 60, 20, 80, 70, 50])
num = sorted(num,reverse=True)[:5]
print(num)

[80, 70, 60, 50, 30]

In [67]:
print(sorted("Bonjour le monde!".split(), key=str.lower, reverse=True))

['monde!', 'le', 'Bonjour']

In [69]:
a = {"contente": 12, "content": 12, "triste": 2}
print(a)
print(type(a))

{'contente': 12, 'content': 12, 'triste': 2}
<class 'dict'>

In [108]:
a = {"contente": 12, "content": 12, "triste": 2}
for cle in a:
    print("la phrase ", cle, " apparait ", a[cle], " fois")

la phrase  contente  apparait  12  fois
la phrase  content  apparait  12  fois
la phrase  triste  apparait  2  fois

In [111]:
a = {"contente": 12, "content": 12, "triste": 2}
for cle,valeur in a.items():
    print("la phrase ", cle, " apparait ", valeur, " fois")

la phrase  contente  apparait  12  fois
la phrase  content  apparait  12  fois
la phrase  triste  apparait  2  fois

In [94]:
a = {"contente": 12, "content": 12, "triste": 2}
a["joie"] = 10
print(a)

{'contente': 12, 'content': 12, 'triste': 2, 'joie': 10}

In [99]:
mots = {"contente": 12, "content": 12, "triste": 2, "joie" : 10}
print(sorted(mots))

['content', 'contente', 'joie', 'triste']

In [117]:
mots = {"contente": 12, "content": 12, "triste": 2, "joie" : 10}
mots_tuple = [(cle, valeur) for cle,valeur in mots.items()]
print(mots_tuple)

[('contente', 12), ('content', 12), ('triste', 2), ('joie', 10)]

In [116]:
from operator import itemgetter, attrgetter
mots = {"contente": 12, "content": 12, "triste": 2, "joie" : 10}
mots_tuple = [(cle, valeur) for cle,valeur in mots.items()]
print(sorted(mots_tuple, key=itemgetter(1)))

[('triste', 2), ('joie', 10), ('contente', 12), ('content', 12)]

In [95]:
a = {"contente": 12, "content": 12, "triste": 2}
del a["triste"]
print(a)

{'contente': 12, 'content': 12}

In [75]:
message = "Bonjour le monde"
with open("bonjour.txt", "w") as file:
    file.write(message)
file.close()

In [76]:
with open("bonjour.txt", "r") as file:
    text = file.read()
    print(text)
file.close()

Bonjour le monde

In [77]:
message1 = "Bonjour le monde"
message2 = "Programmation en Python"
with open("bonjour.txt", "w") as file:
    file.write(message1)
    file.write(message2)
file.close()

with open("bonjour.txt", "r") as file:
    text = file.read()
    print(text)
file.close()

Bonjour le mondeProgrammation en Python

In [78]:
message1 = "Bonjour le monde\n"
message2 = "Programmation en Python"
with open("bonjour.txt", "w") as file:
    file.write(message1)
    file.write(message2)
file.close()

with open("bonjour.txt", "r") as file:
    text = file.read()
    print(text)
file.close()

Bonjour le monde
Programmation en Python

In [86]:
message1 = "Bonjour le monde\n"
message2 = "Programmation en Python"
with open("bonjour.txt", "w") as file:
    file.write(message1)
    file.write(message2)
file.close()

with open("bonjour.txt", "r") as file:
    text = file.readline()
    print(text)
file.close()

Bonjour le monde

In [87]:
message1 = "Bonjour le monde\n"
message2 = "Programmation en Python\n"
with open("bonjour.txt", "w") as file:
    file.write(message1)
    file.write(message2)
file.close()

with open("bonjour.txt", "r") as file:
    for line in file:
        print(line)
file.close()

Bonjour le monde

Programmation en Python

In [119]:
nom = input("Quel est votre nom?")
print(nom)

Quel est votre nomabc
abc

In [122]:
age = input("Quel est votre âge? ")
print(age)
print(type(age))

Quelle est votre age23
23
<class 'str'>

In [127]:
age = input("Quel est votre âge? ")
age = float(age)
print(age)
print(type(age))

Quel est votre âge? 2,3
2,3
<class 'str'>

In [129]:
a = 12
if( a%2 == 0):
    print(a, " est divisible par 2")
else:
     print(a, " n'est pas divisible par 2")

12  est divisible par 2

In [131]:
lang = "Français"
if (lang =="Français"):
    print("Bonjour le monde!")
else:
    print("Hello World!")

Bonjour le monde!